@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(137, 85, 233);
}

.container {
  display: flex;
}

.input {
  border: 0;
  width: 0px;
  height: 50px;
  font-size: 18px;
  outline: 0;
  transition: width 0.4s ease;
}

.active .input {
  padding: 16px;
  width: 250px;
}

.search-icon {
  background-color: white;
  height: 50px;
  width: 50px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
