@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --color-inactive: #e0e0e0;
  --color-active: #bb32f1fd;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  text-align: center;
}

.progress-container {
  display: flex;
  max-width: 100%;
  width: 350px;
  justify-content: space-between;
  margin-bottom: 50px;
  position: relative;
}

.progress-container::before {
  content: "";
  position: absolute;
  top: 50%;
  background-color: var(--color-inactive);
  width: 100%;
  height: 3px;
  transform: translateY(-50%);
  z-index: -1;
}

#progress-bar {
  position: absolute;
  top: 50%;
  background-color: var(--color-active);
  width: 0%;
  height: 3px;
  transform: translateY(-50%);
  transition: 0.3s ease;
  z-index: -1;
}

.progress-steps {
  background-color: white;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
  border: 3px solid var(--color-inactive);
}

.progress-steps.active {
  border-color: var(--color-active);
}

button {
  border: 0;
  background-color: var(--color-active);
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  font-family: inherit;
  margin: 10px;
  font-size: 1rem;
}

button:active {
  transform: scale(0.98);
}

button:disabled {
  background-color: var(--color-inactive);
  cursor: not-allowed;
}
